<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.wenfan.youtube.mapper.CategoriesMapper" >
  <resultMap id="BaseResultMap" type="club.wenfan.youtube.bean.Categories" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="video_count" property="videoCount" jdbcType="INTEGER" />
  </resultMap>
</mapper>