<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.wenfan.youtube.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="club.wenfan.youtube.bean.SysRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="INTEGER" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="created_user" property="createdUser" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>


  <!--根据用户id 查询权限-->
  <select id="getRolesById" resultMap="BaseResultMap">
      select role_code from
        sys_role
      where id in (select role_id from user_role where user_id=#{id})
  </select>

</mapper>